{
  "presets": ["env", "stage-0"],
  "plugins": [
    ["module-alias", [
      { "src": "./core", "expose": "@core" },
      { "src": "./test", "expose": "@test" },
      { "src": "./operators", "expose": "@operators" },
      { "src": "./observable", "expose": "@observable" }
    ]]
  ]
}