{
  "presets": ["env", "stage-0"],
  "plugins": [
    ["module-alias", [
      { "src": "./core", "expose": "rxjs" },
      { "src": "./test", "expose": "@test" },
      { "src": "./utils", "expose": "@utils" },
      { "src": "./operators", "expose": "@operators" },
      { "src": "./observables", "expose": "@observables" }
    ]]
  ]
}